<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main min-h-screen w-full bg-zinc-900 text-white p-8">
        <div class="prof flex justify-between mr-8">
            <h1 class="text-2xl font-bold"><span class="font-light">Hello</span> <%=postofUser.user.name %>, </h1>
            <form action="/logout" method="post">
                <input class="bg-red-500 px-2 py-2 pt-1 pb-1 rounded-lg" type="submit" value="Logout">
            </form>
        </div>
        <div class="create mt-5 w-4/6 h-fit mb-5">
            <form action="/editpost/<%= postofUser._id %>" method="post" class="flex flex-col gap-3 w-3/6 h-3/6">
                <textarea name="content" class="resize-none bg-transparent border-2 border-zinc-600 rounded-lg h-[120px]"><%=postofUser.content  %></textarea>
                <input type="submit" value="Edit Post" class="bg-blue-500 px-2 py-2 pt-1 pb-1 rounded-lg w-3/6">
            </form>
        </div>
    </div>
</body>
</html>