<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 p-20 text-white">
        <h1 class="text-2xl mb-5">Upload Your Picture</h1>
        <form class="" action="/profupload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input class="bg-blue-500 pl-2 pr-2 pt-1 pb-1 rounded-lg" type="submit">
        </form>
    </div>
</body>
</html>